@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --font-main: "Inter", "Poppins", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-main);
  }
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
    /* or #f3f4f6 for light gray */
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: #b8bbc2;
    /* gray-400 */
    border-radius: 9999px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
    /* gray-500 */
  }
}

@custom-variant dark (&:where(.dark, .dark *));
